.filterBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    background: #0E062E;
    padding: 7px 12px;
    border-radius: 24px;
    margin-right: 10px;
}